.container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 800px;
  margin: 24px auto;
  padding: 16px;
}

.trade-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.form-row {
  padding-left: 1em;
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.form-actions {
  display: flex;
  justify-content: flex-end;
  margin-right: 1em;
  margin-bottom: 1em;
}

.spinner-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
